
/*------所有内容-------*/
#wrapper{
	width: 870px;
	height: auto;
	margin: 20px auto;
	padding: 15px;
	background-color: Aliceblue;
}
/*标题*/
#wrapper h1{
	text-align: center;
	/*background-color: red;*/
	line-height: 50px;
	box-shadow:  0 2px 3px #ccc;
}
/*显示更换的主题*/
#wrapper h1+div{
	/*background-color: red;*/
	/*text-align: center;*/
	margin-top: 20px;
}
#wrapper h1+div>input{
	font-size: 12px;
	padding: 3px 8px;
	background-color: rgb(236,236,236);
	border-radius: 3px;

}
#wrapper h1+div>input:hover{
	background-color: gray;
	color: white;
}
/*5张图片*/
#wrapper .mian_title_all{
	margin-top: 20px;
	text-align: center;

}
.mian_title_all>ul{
	width: 800px;
	display: block;
	margin-left: 35px;
	list-style-type: none;
	overflow: hidden;
	/*background-color: red;*/

}
.mian_title_all>ul>li{
	float: left;
	display: inline-block;
	width: 143px;
	height: 220px;
	margin-left: 8px;
	margin-right: 7px;
	/*background-color: red;*/
	border: 1px dotted Aliceblue;

	/*border: hidden;*/
	text-align: center;
	cursor: pointer;


}
.mian_title_all>ul>li:hover{
	border: 1px dotted gray;
	background-color: YellowGreen ;
}
.mian_title_all>ul>li>img{
	margin-top: 10px;
	padding: 5px 5px;
	/*background-color: yellow;*/
	
}
.mian_title_all>ul>li>span{
	display: inline-block;
	margin-top: 5px ;
}
/*显示内容区域*/
#wrapper div.text_area{
	/*width: */
	height: auto;
	margin-top: 30px;
	/*padding: 10px 10px;*/
}
.text_area p{
	padding: 10px 10px;
}

 


