*{margin: 0;padding: 0}
body{
    font: 14px "STSong",Arial,sans-serif;font-size: 14px;
    color:#333;
}
input,select,textarea,button{
    outline:none;
}
img,input,button,select{
    border:none;
    vertical-align:middle;
}
h1,h2,h3,h4,h5,h6,input,button{
    font-size:100%;
}
ul{
    list-style-type: none;
}