*{margin: 0;padding: 0}
body{
    font: 14px Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#333;
    background-color: rgb(215,238,239);
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color: SeaGreen  ;
}
input{
	outline: none;
	border:none;
	font-size: 100%;
}
ul{
	list-style-type:none;
	overflow: hidden;
}
li{
	float: left;
}
a{
	text-decoration: none;
}