*{margin: 0;padding:0; font-family: "翩翩体-简";font-size: 16px;}
.sym{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: AntiqueWhite ;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
input{
	width: 200px;
	height: 30px;
}
.num1_all,.symbol1,.num2_all,.submit,.result,.symbol_all,.is_big{
	margin-top: 10px;
}
/*计算器全部*/
#calculator{
	margin:40px auto 0 auto;
	width: 300px;
	height: 300px;
	background-color: Aliceblue;
	/*line-height: 50px;*/
	text-align: center;
}

/*等于号*/
.submit{
	/*margin-bottom: 10px;*/
	/*background-color: yellow;*/
}


