#header ul {

}

#header ul li {
    padding: 0 20px;
}

#header ul li:first-child {
    float: left;
}

#header ul li:first-child + li {
    float: right;
}

#header ul li a {
    font-size: 14px;

}

#header ul li a:hover {
    color: white;
}

/*表格上面的东西*/
#section #top_show {
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

#section #top_show span:first-child {
    float: left;
}

#section #top_show span:first-child + span {
    float: right;
}

/*表格*/
/*分享的图片集合框*/
ul#shares_ul {
    float: right;

}

ul#shares_ul > li {
    position: relative;
}

ul#shares_ul > li > a {

}

ul#shares_ul > li:hover > ul {
    visibility: visible;
}

ul#shares_ul > li:hover > a {
    visibility: hidden;
}

ul#shares_ul > li > ul {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    overflow: hidden;
}

ul#shares_ul > li > ul img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

ul#shares_ul > li > ul > li {
    float: left;
}

ul#shares_ul > li > ul > li > a {

}

/*5列的处理*/
#show_table tr {
    display: inline-block;
    border-bottom: 1px solid gray;
}

#show_table tr > td:first-child {
    width: 35px;
    padding-left: 10px;
}

#show_table tr > td:first-child + td {
    width: 315px;

}

#show_table tr > td:first-child + td + td {
    width: 105px;
}

#show_table tr > td:first-child + td + td + td {
    width: 100px;
}

#show_table tr > td:first-child + td + td + td > div {
    float: right;
    position: relative;
}

#show_table tr > td:first-child + td + td + td + td {
    font-size: 25px;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 13px;
}
#show_table tr:hover> td:first-child + td >a{
    color: white;
}
#show_table tr:hover> td:first-child + td +td>a{
    color: white;
}
#show_table tr.change> td:first-child + td >a{
    color: white;
}
#show_table tr.change> td:first-child + td +td>a{
    color: white;
}
/*aside的处理*/

#aside li {
    text-align: center;
    margin-bottom: 10px;
}

/*图片*/
#aside .cut_img {
    width: 150px;
    overflow: hidden;
    display: inline-block;
}

#aside>img {
    height: 150px;
}

/*人名*/
a#singer_name {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 16px;
}


/*模糊图片*/
#footer>img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.2;
}
/*控制区*/

#my_control{
    width:900px;
    margin: 40px auto;
    height: 138px;
    /*background-color:aqua;*/
    /*overflow: hidden;*/
    line-height:138px;
}
#my_control >div{
    float: left;
    /*width: 100px;*/
    height:138px;
    /*background-color: #2E2E2D;*/
    margin-right:20px;
    line-height:138px;
}
#jquery_range{
    /*position: relative;*/
}
#else  .left,#else  .right{
    line-height: 1.6;
    position: absolute;
    top: 50px;
}
#else .left{
    left: 20px;
}
#else .right{

    left: 500px;
}
#my_control span{
    display: inline-block;
    /*background-color: aqua;*/
}
/*喇叭部分*/
.volume>img{
    position: relative;
    top: 2px;
    opacity: 0.5;
}
.volume>img:hover{
    opacity: 1;
}
/*暂停开始*/
.pause>img{
    position: relative;
    top: 10px;
    opacity: 0.5;
}
/*歌词*/
#aside #lyric{
    /*display: none;*/
    height: 0;
    color: white;
    z-index: 99;
    overflow: scroll;
}
